#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* .footer {
  margin-top: 5em;
} */

.book-details {
  margin-top: 6em;
  /* border: solid black; */
  width: 100%;
  display: flex;
  flex-direction: row;
}

.book-card {
  width: 24em;
  margin: 2em;
}

.book-card-img {
  width: 50%;
  height: 50%;
}
.book-card-text {
  line-height: 1.1em;
}

.nav-container {
  width: 28em;
  height: 5em;
  position: fixed;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: red;
  font-size: 2.2rem;
}
.navbar a.active{
  color: black;
  background:yellow
}

.pages {
  width: 30em;
  display: flex;
  align-items: center;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  place-items: center;
}
.landing img {
  width: 50vw;
}

.pagination {
  padding: 1em;
  background: blue;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.paged-books-container {
  margin-top: 6em;
}


.delete-mask{
  border: 2px solid red;
  background:red;
  color: yellow;
  z-index: 99999;
  padding: 4em;
  margin-top: 5em;
  min-height: 80vh;
}
.delete-mask img{
  box-shadow: 15px 10px 10px lightblue;

}

.form-container {
  margin-top: 6em;
  width: 100%;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-item {
  width: 80%;
  margin: 0.5em 0;
  height: 1.5em;
}
.active-check{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-button{
  margin: 1em;
  width: 80%;
  height: 2.5em;
}

@media screen and (max-width: 500px) {
  .pages {
    width: 100vw;
    background-color: lightgreen;
  }
}
