#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paged{
margin-top: 5em;
}

.book-details{
  border: solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.book-card{
width: 24em;
margin: 2em;
}

.book-card-img {
  width: 50%;
}
.book-card-text{
  line-height: 0.9em;
}

.nav-container {
  width: 28em;
  height: 5em;
  position: fixed;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: red;
  font-size: 2.2rem;
}

.pages {
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing{
height: 100vh;
display: flex;
place-items: center;

}



.form-container {
  padding-top: 3em;
  width: 100%;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-item {
  width: 80%;

  margin: 0.5em 0;
  height: 1.5em;
}



@media screen and (max-width: 500px) {
  .pages{
    width: 24em;
    background-color: lightgreen;
  }
}